<div ng-controller="ArticleEditCtrl">
    <h3 class="heading">Edit Article</h3>
    <form ng-submit="updateArticle()">

        <div class="form-group">
            <label for="title">Article Title</label>
            <input type="text" id="title" name="title" ng-model="article.title" class="form-control" placeholder="Enter Title">
        </div> <!-- /.form-group -->

        <div class="form-group">
            <label for="category">Article Category</label>
            <select name="category" id="category" ng-model="article.category" class="form-control">
                <option value="{{category.name}}" ng-repeat="category in categories">
                    {{category.name}}
                </option>
            </select>
        </div> <!-- /.form-group -->

        <div class="form-group">
            <label for="body">Article Body</label>
            <textarea type="text" id="body" name="body" ng-model="article.body" class="form-control" placeholder="Enter Article Body"></textarea>
        </div> <!-- /.form-group -->

        <button type="submit" class="btn btn-default">Update</button>
        <a href="#/categories" class="btn btn-warning">Cancel</a>
    </form>
</div> <!-- end ng-controller -->
